$base-color: #d4e6f1;
$color-white:#fff;
$color-black:#000000;


$width-default:100%;
$width-one:100px;
$width-two:200px;
$width-three:300px;
$width-four:400px;
$width-five:500px;

$px-one:10px;
$px-two:20px;
$px-three:30;
$px-four:40px;
$px-five:50;

$align-center:center;
$align-right:right;
$align-left:left;






