
input,select{
    width:200px;
}
ul{
    list-style-type: none;
}
button{
    width: 150px;
    background: #ada8a8c7;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ada8a8c7;
}
img{
    width: 150px;
    height: 150px;
} 
.appContainer{
    height: 3000px;
}